<!--==========Content team =======-->

<section class="team-section text-center my-5 section-bg" style="margin-left:0px; margin-right:0px">
    <div class="container">
      <h2 class="h1-responsive font-weight-bold my-5" data-aos="fade-up">Content Writer Team</h2>
  <!--========TEAM LEADER===========-->
  <div class="row">
       <div class="col" data-aos="zoom-in" style="margin-left:auto; margin-right:auto;">
      <div data-aos="zoom-in">
                  <div class="box" >
                      <div class="imgBx">
                          <img  src="img/team/content/Anant.jpg"/>
                      </div>
                      <ul class="social-icon">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                      </ul>
                      <div class="details">
                          <p>Anant Mehra<br/><span class="text-uppercase">Kota</span></p>
                      </div>
                  </div>
                  <p class="text-uppercase  mb-0" id="position">Team Lead</p>	
              </div>
         </div>
      <div class="col" data-aos="zoom-in" style="margin-left:auto; margin-right:auto;">
      <div data-aos="zoom-in">
                  <div class="box" >
                      <div class="imgBx">
                          <img  src="img/team/content/Meghna.jpg"/>
                      </div>
                      <ul class="social-icon">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                      </ul>
                      <div class="details">
                          <p>Meghna Singh<br/><span class="text-uppercase">Guwahati</span></p>
                      </div>
                  </div>
                  <p class="text-uppercase  mb-0" id="position">Team Lead</p>	
              </div>
         </div>
  </div>
  
  <!--========TEAM LEADER ENDED===========-->
   <div class="row">
      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
        <div class="avatar mx-auto">
          <img src="img/team/content/Sumit Shinde.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Sumit Shinde</h5>
          <p class="text-uppercase blue-text mb-0">Gwalior</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
              </a>
          </ul>
      </div>

      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
        <div class="avatar mx-auto">
          <img src="img/team/content/Chirag V Choudhari.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Chirag V Choudhari</h5>
          <p class="text-uppercase blue-text mb-0">Kurnool</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/chirag-choudhari-995372176">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
              </a>
          </ul>
      </div>

      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
        <div class="avatar mx-auto">
          <img src="img/team/content/Pravallika Saladi.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Pravallika Saladi</h5>
          <p class="text-uppercase blue-text mb-0">Kurnool</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/pravallika-saladi-279a18196">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
              </a>
          </ul>
      </div>


      

      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
        <div class="avatar mx-auto">
          <img src="img/team/content/Kodidasu Virajitha.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Kodidasu Virajitha</h5>
          <p class="text-uppercase blue-text mb-0">Kurnool</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/virajitha-kodidasu-321150197">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
              </a>
          </ul>
      </div>

      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
        <div class="avatar mx-auto">
          <img src="img/team/content/Vinamr.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Vinamr Bajaj</h5>
          <p class="text-uppercase blue-text mb-0">Lucknow</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
              </a>
          </ul>
      </div>

      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
        <div class="avatar mx-auto">
          <img src="img/team/content/Deep Narayan.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Deep Narayan</h5>
          <p class="text-uppercase blue-text mb-0">Bhopal</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/deep-narayan-24b90a195">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
              </a>
          </ul>
      </div>

      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
        <div class="avatar mx-auto">
          <img src="img/team/content/Priyadarshini Kumari.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Priya darshini Kumari</h5>
          <p class="text-uppercase blue-text mb-0">Lucknow</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/priyadarshini-kumari-a94a42193/">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
              </a>
          </ul>
      </div>


      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
        <div class="avatar mx-auto">
          <img src="img/team/content/Sucharitha Koppula.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Sucharitha Koppula</h5>
          <p class="text-uppercase blue-text mb-0">Dharwad</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/sucharitha-koppula-398217196">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
              </a>
          </ul>
      </div>










      
      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
        <div class="avatar mx-auto">
          <img src="img/team/content/Achalesh Lakhotiya.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Achalesh Lakhotiya</h5>
          <p class="text-uppercase blue-text mb-0">Kota</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/achalesh-lakhotiya-595196191">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
              </a>
          </ul>
      </div>

      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
        <div class="avatar mx-auto">
          <img src="img/team/content/Rashmi Mishra.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Rashmi Mishra</h5>
          <p class="text-uppercase blue-text mb-0">Lucknow</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/rashmi-mishra-baa9a21a2">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
              </a>
          </ul>
      </div>


      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
        <div class="avatar mx-auto">
          <img src="img/team/content/Raghav Agarwal.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Raghav Agarwal</h5>
          <p class="text-uppercase blue-text mb-0">Nagpur</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/achalesh-lakhotiya-595196191">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
              </a>
          </ul>
      </div>
      </div>
  </div>
</section>