 <!-- Design Team -->

 <section class="team-section text-center my-5" id="design" style="margin-left:0px; margin-right:0px; padding-top:0px">
    <div class="container">
          <h2 class="h1-responsive font-weight-bold my-5" data-aos="fade-up">Design & Animation Team</h2>
      <!--========TEAM LEADER===========-->
          <div class="row">
   <div class="col" data-aos="zoom-in" style="margin-left:auto; margin-right:auto;">
  <div data-aos="zoom-in">
              <div class="box" >
                  <div class="imgBx">
                      <img  src="img/team/designer/Divyansh Tripathi.jpeg"/>
                  </div>
                  <ul class="social-icon">
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                  </ul>
                  <div class="details">
                      <p>Divyansh Tripathi <br/><span class="text-uppercase">Dharwad</span></p>
                  </div>
              </div>
              <p class="text-uppercase  mb-0" id="position">Team Lead</p>	
          </div>
     </div>
  <div class="col" data-aos="zoom-in" style="margin-left:auto; margin-right:auto;">
  <div data-aos="zoom-in">
              <div class="box" >
                  <div class="imgBx">
                      <img  src="img/team/animator/Satya Saketh.jpg"/>
                  </div>
                  <ul class="social-icon">
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                  </ul>
                  <div class="details">
                      <p>Satya Saketh<br/><span class="text-uppercase">Tirchy</span></p>
                  </div>
              </div>
              <p class="text-uppercase  mb-0" id="position">Team Lead</p>	
          </div>
     </div>
</div>

      <!--========TEAM LEADER ENDED===========-->
      <div class="row">
          
          <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
              <div class="avatar mx-auto">
                  <img src="img/team/designer/Prakhar gupta.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
              </div>
              <h5 class="font-weight-bold mt-4 mb-1">Prakhar Gupta</h5>
                  <p class="text-uppercase blue-text mb-0">Guwahati</p>
                  <ul class="list-unstyled mt-0">
                          
                          <a class="p-2 fa-lg tw-ic" href="">
                          <i class="fa fa-linkedin black-text"> </i>
                          </a>
                          
                  </ul>
          </div>

  <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
    <div class="avatar mx-auto">
      <img src="img/team/designer/Priyam Raj.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
    </div>
    <h5 class="font-weight-bold mt-4 mb-1">Priyam Raj</h5>
      <p class="text-uppercase blue-text mb-0">Guwahati</p>
      <ul class="list-unstyled mt-0">
          
          <a class="p-2 fa-lg tw-ic" href="">
          <i class="fa fa-linkedin black-text"> </i>
          </a>
          
      </ul>
  </div>

  <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
    <div class="avatar mx-auto">
      <img src="img/team/designer/Aneesh Sharma.jpeg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
    </div>
    <h5 class="font-weight-bold mt-4 mb-1">Aneesh Sharma</h5>
      <p class="text-uppercase blue-text mb-0">Sonepat</p>
      <ul class="list-unstyled mt-0">
          
          <a class="p-2 fa-lg tw-ic" href="">
          <i class="fa fa-linkedin black-text"> </i>
          </a>
          
      </ul>
  </div>
       
          <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
    <div class="avatar mx-auto">
      <img src="img/team/designer/Nishant Singh.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
    </div>
    <h5 class="font-weight-bold mt-4 mb-1">Nishant Singh</h5>
      <p class="text-uppercase blue-text mb-0">Surat</p>
      <ul class="list-unstyled mt-0">
          
          <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/nishant-singh-b3716518a">
          <i class="fa fa-linkedin black-text"> </i>
          </a>
          
      </ul>
  </div>

       

  <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
    <div class="avatar mx-auto">
      <img src="img/team/designer/Raghav Agarwal.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
    </div>
    <h5 class="font-weight-bold mt-4 mb-1">Raghav Agarwal</h5>
      <p class="text-uppercase blue-text mb-0">Nagpur</p>
      <ul class="list-unstyled mt-0">
          
          <a class="p-2 fa-lg tw-ic" href="">
          <i class="fa fa-linkedin black-text"> </i>
          </a>
          
      </ul>
  </div>

  <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
    <div class="avatar mx-auto">
      <img src="img/team/designer/Nishant .jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
    </div>
    <h5 class="font-weight-bold mt-4 mb-1">Nishant Sabbarwal</h5>
      <p class="text-uppercase blue-text mb-0">Sonepat</p>
      <ul class="list-unstyled mt-0">
          
          <a class="p-2 fa-lg tw-ic" href="">
          <i class="fa fa-linkedin black-text"> </i>
          </a>
          
      </ul>
  </div>
  
   <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
    <div class="avatar mx-auto">
      <img src="img/team/designer/Chaitanyata.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
    </div>
    <h5 class="font-weight-bold mt-4 mb-1">Chaitanya</h5>
      <p class="text-uppercase blue-text mb-0">Dharwad</p>
      <ul class="list-unstyled mt-0">
          
          <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/cherry-hegde-162b431a4">
          <i class="fa fa-linkedin black-text"> </i>
          </a>
          
      </ul>
  </div>				
      </div>
  </div>
</section>
