    <!-- =========FOUNDERS SECTION=========-->
    <div class="section-title" data-aos="fade-up" style="margin-top: 100px;">
        <p style="font-size:40px">Founders</p>
    </div>
    <div class="flex-container">	
    <div class="row justify-content-center" style="margin-top:10px;margin-bottom:10px;" align="center">			     
    <div class="col-md-2" data-aos="zoom-in" data-aos-delay="300" style="margin-top:20px;margin-bottom:20px;">
        <div   class="card border-0" id="card0"  style="margin-left:auto;margin-right:auto;">
            <div class="img-thumbnail"><img class="img-fluid"  src="img/team/founders/Anant Mehra.jpeg" style="height:100%"></div>
                    <ul>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    </ul>
            <div class="content">
            <h3 style="font-size:2em">Anant Mehra</h3>
            <p style="font-size:1.5em">President and CFO</p>
            </div>
        </div>
    
    </div>

    <div style="padding-left:30px;padding-right:30px"></div>
    
    <div class="col-md-2"  data-aos="zoom-in" data-aos-delay="300" style="margin-top:20px;margin-bottom:20px;">
        <div class="card border-0" id="card1" style="margin-left:auto;margin-right:auto">
            <div class="img-thumbnail"><img class="img-fluid" src="img/team/founders/prashant.png" style="height:100%"></div>
            <ul>
                <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
            <div class="content">
                <h3 style="font-size:2em">Prashant Katiyar</h3>
                <p style="font-size:1.5em">Chief Executive Officer</p>
            </div>
            
        </div>
    </div>

    <div style="padding-left:30px;padding-right:30px"></div>
    
    <div class="col-md-2" data-aos="zoom-in" data-aos-delay="300" style="margin-top:20px;margin-bottom:20px;">
        <div class="card border-0" id="card2"  style="margin-left:auto;margin-right:auto">
            <div class="img-thumbnail"><img class="img-fluid"  src="img/team/founders/Shashwat gupta.jpeg" style="height:100%"></div>
                <ul>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                    <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
                <div class="content">
                    <h3 style="font-size:2em">Shashwat Gupta</h3>
                    <p style="font-size:1.5em">Chief in Operations</p>
                </div>
            </div>
        </div>    
    </div>
    <!-- ==============Founders end===============-->
