<!--==========LinkedIn Team=======-->

<section  class="team-section text-center my-5 section-bg" style="margin-left:0px; margin-right:0px">
    <div class="container">
      <h2 class="h1-responsive font-weight-bold my-5" data-aos="fade-up">LinkedIn Team</h2>
  <!--========TEAM LEADER===========-->
      <div class="row">
       <div class="col" data-aos="zoom-in" style="margin-left:auto; margin-right:auto;">
      <div data-aos="zoom-in">
                  <div class="box" >
                      <div class="imgBx">
                          <img  src="img/team/Piyush Gupta.jpg"/>
                      </div>
                      <ul class="social-icon">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                      </ul>
                      <div class="details">
                          <p>Piyush Gupta<br/><span class="text-uppercase">Pune</span></p>
                      </div>
                  </div>
                  <p class="text-uppercase  mb-0" id="position">Team Lead</p>	
              </div>
         </div>
      <div class="col" data-aos="zoom-in" style="margin-left:auto; margin-right:auto;">
      <div data-aos="zoom-in">
                  <div class="box" >
                      <div class="imgBx">
                          <img  src="img/team/web/prashant.png"/>
                      </div>
                      <ul class="social-icon">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                      </ul>
                      <div class="details">
                          <p>Prashant Katiyar<br/><span class="text-uppercase">Guwahati</span></p>
                      </div>
                  </div>
                  <p class="text-uppercase  mb-0" id="position">Team Lead</p>	
              </div>
         </div>
  </div>

  <!--========TEAM LEADER ENDED===========-->
    <div class="row" >        
      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in"style="margin-left:auto;margin-right:auto">
        <div class="avatar mx-auto">
          <img src="img/team/Achalesh Lakhotiya.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Achalesh Lakhotiya</h5>
          <p class="text-uppercase blue-text mb-0">Kota</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/nishant-mourya-217953190/" target="_blank">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
          </ul>
      </div>


      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in" style="margin-left:auto;margin-right:auto">
        <div class="avatar mx-auto">
          <img src="img/team/Divyansh.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Divyansh</h5>
          <p class="text-uppercase blue-text mb-0">Dharwad</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
           </ul>
      </div>


      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in"style="margin-left:auto;margin-right:auto">
        <div class="avatar mx-auto">
          <img src="img/team/Kodidasu Virajitha.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Kodidasu Virajitha</h5>
          <p class="text-uppercase blue-text mb-0">Kurnool</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="#">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
           </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in" style="margin-left:auto;margin-right:auto">
        <div class="avatar mx-auto">
          <img src="img/team/Srishti Kamra.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Srishti Kamra</h5>
          <p class="text-uppercase blue-text mb-0">Kota</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
           </ul>
      </div>
      
       <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in" style="margin-left:auto;margin-right:auto">
        <div class="avatar mx-auto">
          <img src="img/team/Abhimanyu Kumbhar.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Abhimanyu Kumbhar</h5>
          <p class="text-uppercase blue-text mb-0">Kottayam</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
           </ul>
      </div>
  
  
  
      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in" style="margin-left:auto;margin-right:auto">
        <div class="avatar mx-auto">
          <img src="img/team/Swani Sundara.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Swani Sundara</h5>
          <p class="text-uppercase blue-text mb-0">Kottayam</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
           </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in" >
        <div class="avatar mx-auto">
          <img src="img/team/G Satya Saketh.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Satya Saketh</h5>
          <p class="text-uppercase blue-text mb-0">Tiruchirapalli</p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
           </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in" >
        <div class="avatar mx-auto">
          <img src="img/team/no_image.png" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
        </div>
        <h5 class="font-weight-bold mt-4 mb-1">Narendra</h5>
          <p class="text-uppercase blue-text mb-0"> </p>
          <ul class="list-unstyled mt-0">
              <a class="p-2 fa-lg tw-ic" href="">
              <i class="fa fa-linkedin black-text"> </i>
              </a>
           </ul>
      </div>

      </div>
  </div>
</section>
