<!--====================Meme department=============================-->
<section class="team-section text-center my-5" id="memes" style="margin-left:0px; margin-right:0px; padding-top:0px;">
    <div class="container">
          <h2 class="h1-responsive font-weight-bold my-5" data-aos="fade-up">Memes Department</h2>
      <!--========TEAM LEADER===========-->
      <div class="row">

  <div class="col" data-aos="zoom-in" style="margin-left:auto; margin-right:auto;">
  <div data-aos="zoom-in">
              <div class="box" >
                  <div class="imgBx">
                      <img  src="img/team/Memers/Nishant Mourya.jpg"/>
                  </div>
                  <ul class="social-icon">
                      <li><a target="_blank" href="https://www.facebook.com/its.nishant.maurya"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                      <li><a target="_blank" href="https://instagram.com/nishhant__"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                      <li><a target="_blank" href="https://github.com/iamthedawn"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                      <li><a target="_blank" href="https://www.linkedin.com/in/nishant-mourya-217953190"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      <li><a target="_blank" href="mailto:imthedawn@yahoo.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                  </ul>
                  <div class="details">
                      <p>Nishant Mourya<br/><span class="text-uppercase">Kota</span></p>
                  </div>
              </div>
              <p class="text-uppercase  mb-0" id="position">Team Lead</p>	
          </div>
     </div>
     <div class="col" data-aos="zoom-in" style="margin-left:auto; margin-right:auto;">
        <div data-aos="zoom-in">
                    <div class="box" >
                        <div class="imgBx">
                            <img  src="img/team/Memers/Abhishek Kumar.jpg"/>
                        </div>
                        <ul class="social-icon">
                            <li><a target="_blank" href="https://www.facebook.com/AmazingAK"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                            <li><a target="_blank" href="https://instagram.com/amazing__ak"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" href="https://github.com/Abhishekkr93"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/in/abhishek-kumar-7052"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" href="mailto:abhishek.btech.ec18@iiitranchi.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        </ul>
                        <div class="details">
                            <p>Abhishek Kumar<br/><span class="text-uppercase">Ranchi</span></p>
                        </div>
                    </div>
                    <p class="text-uppercase  mb-0" id="position">Team Lead</p>	
                </div>
           </div>
</div>

      <!--========TEAM LEADER ENDED===========-->
      <div class="row">
        <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in"style="margin-left:auto;margin-right:auto">
            <div class="avatar mx-auto">
              <img src="img/team/Memers/Shashwat Gupta.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
            </div>
            <h5 class="font-weight-bold mt-4 mb-1">Shashwat Gupta</h5>
              <p class="text-uppercase blue-text mb-0">Gwalior</p>
              <ul class="list-unstyled mt-0">
                  
                  <a class="p-2 fa-lg tw-ic" target="_blank" href="https://www.linkedin.com/in/shashwat-gupta-ab9675179">
                  <i class="fa fa-linkedin black-text"> </i>
                  </a>
                  
              </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in"style="margin-left:auto;margin-right:auto">
            <div class="avatar mx-auto">
              <img src="img/team/Memers/Ravi Sehrawat.jpg"class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
            </div>
            <h5 class="font-weight-bold mt-4 mb-1">Ravi Sehrawat</h5>
              <p class="text-uppercase blue-text mb-0">Sonepat</p>
              <ul class="list-unstyled mt-0">
                  
                  <a class="p-2 fa-lg tw-ic" target="_blank" href="https://www.linkedin.com/in/ravi-sehrawat">
                  <i class="fa fa-linkedin black-text"> </i>
                  </a>
                  
              </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in" style="margin-left:auto;margin-right:auto">
            <div class="avatar mx-auto">
              <img src="img/team/Memers/Chirag V Choudhari.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
            </div>
            <h5 class="font-weight-bold mt-4 mb-1">Chirag V Choudhari</h5>
              <p class="text-uppercase blue-text mb-0">Kurnool</p>
              <ul class="list-unstyled mt-0">
                  <a class="p-2 fa-lg tw-ic" target="_blank" href="https://www.linkedin.com/in/chirag-choudhari-995372176">
                  <i class="fa fa-linkedin black-text"> </i>
                  </a>
                  
              </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in"style="margin-left:auto;margin-right:auto">
            <div class="avatar mx-auto">
              <img src="img/team/Memers/Shaurya Srivastav.jpeg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
            </div>
            <h5 class="font-weight-bold mt-4 mb-1">Shaurya Srivastav</h5>
              <p class="text-uppercase blue-text mb-0">Ranchi</p>
              <ul class="list-unstyled mt-0">
                  
                  <a class="p-2 fa-lg tw-ic" target="_blank" href="https://www.linkedin.com/in/shaury-srivastav-207725192">
                  <i class="fa fa-linkedin black-text"> </i>
                  </a>
                  
              </ul>
          </div>

          <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in"style="margin-left:auto;margin-right:auto">
            <div class="avatar mx-auto">
              <img src="img/team/Memers/Shashikant Gupta.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
            </div>
            <h5 class="font-weight-bold mt-4 mb-1">Shashikant Gupta</h5>
              <p class="text-uppercase blue-text mb-0">Una</p>
              <ul class="list-unstyled mt-0">
                  
                  <a class="p-2 fa-lg tw-ic" target="_blank" href="https://www.linkedin.com/in/shashikant-gupta-3a2a1a196/">
                  <i class="fa fa-linkedin black-text"> </i>
                  </a>
                  
              </ul>
          </div>

          <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in"style="margin-left:auto;margin-right:auto">
            <div class="avatar mx-auto">
              <img src="img/team/Memers/Divyansh Tripathi.jpeg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
            </div>
            <h5 class="font-weight-bold mt-4 mb-1">Divyansh Tripathi</h5>
              <p class="text-uppercase blue-text mb-0">Dharwad</p>
              <ul class="list-unstyled mt-0">
                  
                  <a class="p-2 fa-lg tw-ic" target="_blank" href="https://www.linkedin.com/in/divyansh-tripathi-46914a1a3/">
                  <i class="fa fa-linkedin black-text"> </i>
                  </a>
                  
              </ul>
          </div>
         

   
  <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in"style="margin-left:auto;margin-right:auto">
    <div class="avatar mx-auto">
      <img src="img/team/Memers/Pravallika Saladi.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
    </div>
    <h5 class="font-weight-bold mt-4 mb-1">Pravallika</h5>
      <p class="text-uppercase blue-text mb-0">Kurnool</p>
      <ul class="list-unstyled mt-0">
          
          <a class="p-2 fa-lg tw-ic" target="_blank" href="https://www.linkedin.com/in/pravallika-saladi-279a18196">
          <i class="fa fa-linkedin black-text"> </i>
          </a>
          
      </ul>
  </div>
  <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in"style="margin-left:auto;margin-right:auto">
    <div class="avatar mx-auto">
      <img src="img/team/Memers/Nikhil Ratnakar.jpg"class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
    </div>
    <h5 class="font-weight-bold mt-4 mb-1">Nikhil Ratnakar</h5>
      <p class="text-uppercase blue-text mb-0">Jabalpur</p>
      <ul class="list-unstyled mt-0">
          
          <a class="p-2 fa-lg tw-ic" target="_blank" href="https://www.linkedin.com/in/nikhil-ratnakar-374451193">
          <i class="fa fa-linkedin black-text"> </i>
          </a>
          
      </ul>
  </div>
  <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in" style="margin-left:auto;margin-right:auto">
    <div class="avatar mx-auto">
      <img src="img/team/Memers/kunal chhabra.jpeg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
    </div>
    <h5 class="font-weight-bold mt-4 mb-1">Kunal Chhabra</h5>
      <p class="text-uppercase blue-text mb-0">Una</p>
      <ul class="list-unstyled mt-0">
          <a class="p-2 fa-lg tw-ic" target="_blank" href="https://www.linkedin.com/in/kunal-chhabra-5b4181191">
          <i class="fa fa-linkedin black-text"> </i>
          </a>
          
      </ul>
  </div>

  
  
   			
      </div>
  </div>
</section>
