<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-fluid d-flex">

        <div class="logo mr-auto">
            <a href="index.html"><img src="img/logo/logo.png" alt="" class="img-fluid"></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="https://iiitiansnetwork.com/">Home</a></li>
                <!--li><a href="">Counselling</a></li>
                <li><a href="">News</a></li>
                <li class="drop-down"><a href="">Login</a>
                    <ul>
                        <li><a href="#">Student</a></li>
                        <li><a href="#">Club</a></li>
                        <li class="drop-down"><a href="#">Register</a>
                            <ul>
                                <li><a href="">Individual</a></li>
                                <li><a href="">Club</a></li>
                                <li><a href="">Non-IIIT Students</a></li>
                            </ul>
                        </li>
                    </ul>
                </li-->
                <li class="active"><a href="https://team.iiitiansnetwork.com/" >Our Team</a></li>
                <li><a href="https://alliiit.iiitiansnetwork.com/" >All IIIT</a>
                    <!--           	<ul>
              <li><a href="#">IIITM Gwalior</a></li>
              <li><a href="#">IIIT Allahabad</a></li>
              <li><a href="#">IIITDM Kancheepuram</a></li>
              <li><a href="#">IIITDM Jabalpur</a></li>
              <li><a href="#">IIITDM Kurnool</a></li>
              <li><a href="#">IIIT Chittoor</a></li>
              <li><a href="#">IIIT Guwahati</a></li>
              <li><a href="#">IIIT Kalyani</a></li>
              <li><a href="#">IIIT Una</a></li>
              <li><a href="#">IIIT Vadodara</a></li>
              <li><a href="#">IIIT Kota</a></li>
              <li><a href="#">IIIT Tiruchirappalli</a></li>
              <li><a href="#">IIIT Sonepat</a></li>
              <li><a href="#">IIIT Manipur</a></li>
              <li><a href="#">IIIT Lucknow</a></li>
              <li><a href="#">IIIT Dharward</a></li>
              <li><a href="#">IIIT Pune</a></li>
              <li><a href="#">IIIT Bhopal</a></li>
              <li><a href="#">IIIT Agartala</a></li>
              <li><a href="#">IIIT Nagpur</a></li>
              <li><a href="#">IIIT Ranchi</a></li>
              <li><a href="#">IIIT Surat</a></li>
              <li><a href="#">IIIT Bhagalpur</a></li>
              <li><a href="#">IIIT Raichur</a></li>
            </ul>
-->
                </li>
                <li><a href="https://contact.iiitiansnetwork.com/">Contact</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
