<!-- Web Dev Team -->

<section class="team-section text-center my-5 section-bg" id="web" style="margin-left:0px; margin-right:0px">
    <div class="container">
            <h2 class="h1-responsive font-weight-bold my-5" data-aos="fade-up">Web Development Team</h2>
    
    <!--========TEAM LEADER===========-->
     <div class="row">
     <div class="col" data-aos="zoom-in" style="margin-left:auto; margin-right:auto;">
    <div data-aos="zoom-in">
                <div class="box" >
                    <div class="imgBx">
                        <img  src="img/team/web/Arunit Kumar.jpg"/>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="details">
                        <p>Arunit Kumar<br/><span class="text-uppercase">Bhagalpur</span></p>
                    </div>
                </div>
                <p class="text-uppercase  mb-0" id="position">Backend Team lead</p>	
            </div>
       </div>
    <div class="col" data-aos="zoom-in" style="margin-left:auto; margin-right:auto;">
    <div data-aos="zoom-in">
                <div class="box" >
                    <div class="imgBx">
                        <img  src="img/team/web/prashant.png"/>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="details">
                        <p>Prashant<br/><span class="text-uppercase">Guwahati</span></p>
                    </div>
                </div>
                <p class="text-uppercase  mb-0" id="position">Web Development Executive</p>	
            </div>
       </div>
       <div class="col" data-aos="zoom-in" style="margin-left:auto; margin-right:auto;">
    <div data-aos="zoom-in">
                <div class="box" >
                    <div class="imgBx">
                        <img  src="img/team/web/vibhanshu.jpeg"/>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#"><i style="color:white" class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="details">
                        <p>Vibhanshu Jain<br/><span class="text-uppercase">Raichur</span></p>
                    </div>
                </div>
                <p class="text-uppercase mb-0" id="position">Frontend Team lead</p>	
            </div>
       </div>
        </div>	
    <!--========TEAM LEADER ENDED===========-->
    


<div class="row">
    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 col-4 mt-3" data-aos="zoom-in">
      <div class="avatar mx-auto">
        <img src="img/team/web/priyam.jpeg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Priyam Raj</h5>
        <p class="text-uppercase blue-text mb-0">Guwahati</p>
        <ul class="list-unstyled mt-0">
            
            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/priyam-raj-518283193/">
            <i class="fa fa-linkedin black-text"> </i>
            </a>
            
        </ul>
    </div>

    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
      <div class="avatar mx-auto">
        <img src="img/team/web/Ayush Singh.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Ayush Singh</h5>
        <p class="text-uppercase blue-text mb-0">Bhopal</p>
        <ul class="list-unstyled mt-0">
            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/ayush-singh-16b3ab196">
            <i class="fa fa-linkedin black-text"> </i>
            </a>
            </a>
        </ul>
    </div>

    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
      <div class="avatar mx-auto">
        <img src="img/team/web/Koneru Rehasree.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1"><a href="https://rehasree.github.io/portfolio.io/">Reha</a></h5>
        <p class="text-uppercase blue-text mb-0">Dharwad</p>
        <ul class="list-unstyled mt-0">
            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/koneru-rehasree-6a9b1b192/">
            <i class="fa fa-linkedin black-text"> </i>
            </a>
            </a>
        </ul>
    </div>


    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
      <div class="avatar mx-auto">
        <img src="img/team/web/Nihar.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Nihar</h5>
        <p class="text-uppercase blue-text mb-0">Dharwad</p>
        <ul class="list-unstyled mt-0">
            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/nihar-sanda-07ab6118b">
            <i class="fa fa-linkedin black-text"> </i>
            </a>
            </a>
        </ul>
    </div>

  
    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
      <div class="avatar mx-auto">
        <img src="img/team/web/Shivam Soni.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Shivam Soni</h5>
        <p class="text-uppercase blue-text mb-0">Nagpur</p>
        <ul class="list-unstyled mt-0">
            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/mwlite/in/shivam-soni-s">
            <i class="fa fa-linkedin black-text"> </i>
            </a>
            </a>
        </ul>
    </div>

    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
      <div class="avatar mx-auto">
        <img src="img/team/web/Prakhar Kochar.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Prakhar Kochar</h5>
        <p class="text-uppercase blue-text mb-0">Nagpur</p>
        <ul class="list-unstyled mt-0">
            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/prakhar-kochar-96871b194/">
            <i class="fa fa-linkedin black-text"> </i>
            </a>
            </a>
        </ul>
    </div>

    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
      <div class="avatar mx-auto">
        <img src="img/team/web/Prachhi Sabita Mishra.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Prachi Sabita Mishra</h5>
        <p class="text-uppercase blue-text mb-0">Pune</p>
        <ul class="list-unstyled mt-0">
            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/prachhi-mishra-039916191">
            <i class="fa fa-linkedin black-text"> </i>
            </a>
            </a>
        </ul>
    </div>

    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
      <div class="avatar mx-auto">
        <img src="img/team/web/Aneesh Sharma.jpeg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Aneesh Sharma</h5>
        <p class="text-uppercase blue-text mb-0">Sonepat</p>
        <ul class="list-unstyled mt-0">
            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/mwlite/in/aneesh-sharma-b2602a194">
            <i class="fa fa-linkedin black-text"> </i>
        </a>
        </ul>
    </div>
    
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
      <div class="avatar mx-auto">
        <img src="img/team/web/Abhishek.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Abhishek Kumar</h5>
        <p class="text-uppercase blue-text mb-0">Kurnool</p>
        <ul class="list-unstyled mt-0">
            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/abhishek-kumar-84b461193">
            <i class="fa fa-linkedin black-text"> </i>
            </a>
            </a>
        </ul>
    </div>
    
    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
      <div class="avatar mx-auto">
        <img src="img/team/web/Pravallika Saladi.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Pravallika Saladi</h5>
        <p class="text-uppercase blue-text mb-0">Kurnool</p>
        <ul class="list-unstyled mt-0">
            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/pravallika-saladi-279a18196">
            <i class="fa fa-linkedin black-text"> </i>
            </a>
            </a>
        </ul>
    </div>

    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
      <div class="avatar mx-auto">
        <img src="img/team/web/Vanshika Pandey.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Vanshika Pandey</h5>
        <p class="text-uppercase blue-text mb-0">Una</p>
        <ul class="list-unstyled mt-0">
            <a class="p-2 fa-lg tw-ic" href="">
            <i class="fa fa-linkedin black-text"> </i>
            </a>
            </a>
        </ul>
    </div>


    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
      <div class="avatar mx-auto">
        <img src="img/team/web/Priyadarshini Kumari.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Priya darshini Kumari</h5>
        <p class="text-uppercase blue-text mb-0">Lucknow</p>
        <ul class="list-unstyled mt-0">
            <a class="p-2 fa-lg tw-ic" href="hhttps://www.linkedin.com/in/priyadarshini-kumari-a94a42193/">
            <i class="fa fa-linkedin black-text"> </i>
            </a>
            </a>
        </ul>
    </div>

   
            

            
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 col-4 mt-3" data-aos="zoom-in">
                <div class="avatar mx-auto">
                    <img src="img/team/web/Ankit Kumar.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
                </div>
                <h5 class="font-weight-bold mt-4 mb-1">Ankit Kumar</h5>
                    <p class="text-uppercase blue-text mb-0">Guwahati</p>
                    <ul class="list-unstyled mt-0">
                            
                            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/ankit-kumar-a26864190/">
                            <i class="fa fa-linkedin black-text"> </i>
                            </a>
                            
                    </ul>
            </div>
            
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 col-4 mt-3" data-aos="zoom-in">
                <div class="avatar mx-auto">
                    <img src="img/team/web/gaurav.jpeg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
                </div>
                <h5 class="font-weight-bold mt-4 mb-1">Gaurav Parmar</h5>
                    <p class="text-uppercase blue-text mb-0">Kota</p>
                    <ul class="list-unstyled mt-0">
                            
                            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/gaurav-parmar-079242164/">
                            <i class="fa fa-linkedin black-text"> </i>
                            </a>
                            
                    </ul>
            </div>
            
            
            
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 col-4 mt-3" data-aos="zoom-in">
                <div class="avatar mx-auto">
                    <img src="img/team/web/Tanmay Modi.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
                </div>
                <h5 class="font-weight-bold mt-4 mb-1">Tanmay Modi</h5>
                    <p class="text-uppercase blue-text mb-0">Pune</p>
                    <ul class="list-unstyled mt-0">
                    
                            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/tanmay-modi-142a67192/">
                            <i class="fa fa-linkedin black-text"> </i>
                            </a>
                            
                    </ul>
            </div>
            
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 col-4 mt-3" data-aos="zoom-in">
                <div class="avatar mx-auto">
                    <img src="img/team/Tejas.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
                </div>
                <h5 class="font-weight-bold mt-4 mb-1">Tejas Agrawal</h5>
                    <p class="text-uppercase blue-text mb-0">Allahabad</p>
                    <ul class="list-unstyled mt-0">
                            
                            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/tejas-agrawal-1605301a5/">
                            <i class="fa fa-linkedin black-text"> </i>
                            </a>
                            
                    </ul>
            </div>
            
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 col-4 mt-3" data-aos="zoom-in">
                <div class="avatar mx-auto">
                    <img src="img/team/Vinamr.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
                </div>
                <h5 class="font-weight-bold mt-4 mb-1">Vinamr Bajaj</h5>
                    <p class="text-uppercase blue-text mb-0">Lucknow</p>
                    <ul class="list-unstyled mt-0">
                            
                            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/vinamr-bajaj-b8b884191/">
                            <i class="fa fa-linkedin black-text"> </i>
                            </a>
                            
                    </ul>
            </div>
            
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 col-4 mt-3" data-aos="zoom-in">
                <div class="avatar mx-auto">
                    <img src="img/team/web/Ishan Mishra.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
                </div>
                <h5 class="font-weight-bold mt-4 mb-1">Ishan Mishra</h5>
                    <p class="text-uppercase blue-text mb-0">Kalyani</p>
                    <ul class="list-unstyled mt-0">
                    
                            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/ishan-mishra-00788b192/">
                            <i class="fa fa-linkedin black-text"> </i>
                            </a>
                            
                    </ul>
            </div>
            
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 col-4 mt-3" data-aos="zoom-in">
                <div class="avatar mx-auto">
                    <img src="img/team/web/piyush.jpeg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
                </div>
                <h5 class="font-weight-bold mt-4 mb-1">Piyush Gupta</h5>
                    <p class="text-uppercase blue-text mb-0">Pune</p>
                    <ul class="list-unstyled mt-0">
                        
                            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/piyush-gupta-91667a160/">
                            <i class="fa fa-linkedin black-text"> </i>
                            </a>
                            
                    </ul>
            </div>

    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 col-4 mt-3" data-aos="zoom-in">
      <div class="avatar mx-auto">
        <img src="img/team/web/Akshay.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Akshay</h5>
        <p class="text-uppercase blue-text mb-0">Una</p>
        <ul class="list-unstyled mt-0">
          
            <a class="p-2 fa-lg tw-ic" href="https://in.linkedin.com/in/akshay-kumar-0b5183191">
            <i class="fa fa-linkedin black-text"> </i>
            </a>
            
        </ul>
    </div>
            
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 col-4 mt-3" data-aos="zoom-in">
                <div class="avatar mx-auto">
                    <img src="img/team/web/Raghav Agarwal.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
                </div>
                <h5 class="font-weight-bold mt-4 mb-1">Raghav Agarwal</h5>
                    <p class="text-uppercase blue-text mb-0">Nagpur</p>
                    <ul class="list-unstyled mt-0">
                            
                            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/raghav1701/">
                            <i class="fa fa-linkedin black-text"> </i>
                            </a>
                            
                    </ul>
            </div>
            
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 col-4 mt-3" data-aos="zoom-in">
                <div class="avatar mx-auto">
                    <img src="img/team/web/Aditya Agrawal.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
                </div>
                <h5 class="font-weight-bold mt-4 mb-1">Aditya Agrawal</h5>
                    <p class="text-uppercase blue-text mb-0">Raichur</p>
                    <ul class="list-unstyled mt-0">
                            
                            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/crossphoton/">
                            <i class="fa fa-linkedin black-text"> </i>
                            </a>
                            
                    </ul>
            </div>
    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5 mt-3 col-4" data-aos="zoom-in">
      <div class="avatar mx-auto">
        <img src="img/team/web/Nishant Mourya.jpg" class="rounded-circle z-depth-2 responsive team-image" alt="Sample avatar" style="height:100%; width:100%">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Nishant Mourya</h5>
        <p class="text-uppercase blue-text mb-0">Kota</p>
        <ul class="list-unstyled mt-0">
            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/nishant-mourya-217953190/">
            <i class="fa fa-linkedin black-text"> </i>
            </a>
            </a>
        </ul>
    </div>

        </div>
    </div>
</section>
